/* 
desktop configuration
.container{
    height: 400px;
    width: 400px;
    background-color: pink;
    font-size: 40px;
}

@media screen and (max-width:900px) {
   .container{
     height: 300px;
     width: 300px;
     font-size: 30px;
     background-color: aqua;
   }
}

@media screen and (max-width:600px) {
   .container{
     height: 200px;
     width: 200px;
     font-size: 20px;
     background-color: orange;
   }
} */
/* 
mobile first apprach we use this approach in real world */
.container{
    height: 400px;
    width: 400px;
    background-color: pink;
    font-size: 40px;
}

@media screen and (min-width:600px) {
   .container{
     height: 300px;
     width: 300px;
     font-size: 30px;
     background-color: aqua;
   }
}

@media screen and (min-width:900px) {
   .container{
     height: 200px;
     width: 200px;
     font-size: 20px;
     background-color: orange;
   }}