*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    display: flex;
    justify-content: center;
     align-items: center ;
     height: 100vh;
     perspective: 800px;
}

.container{
    height: 200px;
    width: 200px;
    background-color: aqua;
    transition-property: all;
    transition-duration: 3s;
    transition-timing-function: ease-in;
    transition-delay: 1s;
    display: flex;
    justify-content: center;
     align-items: center ;
    font-size: 50px;
 
}

.container:hover{
    /* background-color: pink;
    height: 400px;
    width: 400px;
  
    font-size: 90px; */
    /* transform: scaleX(2); */
    /* transform: translate(100px,200px);
    transform: translateX(100px);
    transform: translateY(100px); */
    /* transform: rotate(360deg);
    transform: skew(-40deg);
      transform: skewX(40deg);*/
           /* transform: skewY(40deg);  */
              /* transform: rotateX(40deg); */
              transform: translateZ(100px);

}