*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    color: white;
    display: flex;
   justify-content: center;

}

.container
{
    width: 800px;
    height: 50px;
    background-color: rgb(62, 59, 59);
    border-radius: 8px;
    padding: 10px;
    margin-top: 10px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;  
    overflow: hidden;

}

.box{
animation: move 3s linear 2s infinite;
white-space: nowrap;

}

@keyframes move {

    from{
        margin-left:900px ;
    }
    to{
        margin-right: 1000px;
    }
}