*{
    margin: 0;
    padding:0 ;
    box-sizing: border-box;
}

body{
    background-color: black;
      display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(Screenshot\ 2026-01-24\ 222849.png);
    background-size: cover;
    background-repeat: no-repeat;
    
    
}

.box{
    height: 200px;
    width: 800px;
    display: flex;
    justify-content: right;

    align-items: center;
    /* display: grid;
    gap: 10px;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(4,1fr); */
   

}
/* 
@media screen and (max-width:900px) {

    .box{

 
     height: 400px;
    width: 400px;
  
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
 
       }
}

@media screen and (max-width:600px) {

    .box{

 
    height: 800px;
    width: 200px;
   
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr ;
  
       }
} */

img{
    height: 50%;
    width: 50%;
    border-radius: 50%;
    position: relative;
    left: 600px;
    box-shadow:5px 5px 40px 30px aqua ;
}